* {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*Header styles*/
.page-header {
    
   height: 800px;
    margin: 0px;
    background-image: url("./images/headphones_hero_1.jpg");
    background: cover;
    margin: 0;
    padding-top: 0;
    
    
}

.nav-links {
    color:aliceblue;
    text-decoration: none;
    font-size: 15px;
    
}
.nav-links:hover {
  color: #FF6565;  
}
.header-header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

.nav-items {
    list-style: none;
    padding: 13px;
}
.nav {
    display: flex;
}
    
/*section 1*/
.main-section h1, p {
    color: aliceblue;
    
}
.section-1 {
   
   
    position: relative;
   /* top: 80%;*/
    /*transform: translateY(-50%);*/
    
   /* text-align: center;*/
    
}

.main-section {
    width: 637px;
    height: 313px;
   /* display: flex;
    transform: translateX(50%);
   /* transform: translateY(80%);*/
    /*flex-direction: column;
    justify-content: center;
    padding-top: 30px;  
    border: 3px solid red;*/
    /*align-items: center;
    align-content: start;*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.main-section p {
    color: #fff;
}
button {
    margin-bottom: 45px;
    margin-top: 40px;
    width: 162px;
    height: 44px;
   
    text-transform:uppercase;
    background-color: red;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    border: 3px solid red;
    cursor: pointer;

}
button:hover,
button:active {
    opacity: 0.9;
}


@media  screen and (max-width: 480px) {
    .header-header {
        flex-wrap: wrap;
    }
    .main-section {
        flex-wrap: wrap;
    }
}

/*section 2*/

.sec2-a {
   /* border: 3px solid black;*/
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sec2-a h1, p {
    color: black;
    padding: 30px
}
.what-we-do {
    
  
}
.sec2-b {
   /* border: 1px solid red;*/
    height: 40vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    width: 90%;
    transform: translate(5%, 0);
    
}
.about-files p {
    color: black;
}
/*section 3 our result*/

.sec3-a {
    /* border: 3px solid black;*/
     margin-top: 50px;
     margin-bottom: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 
 .sec3-a h1, p {
     color: #fff;
     padding: 30px
 }
 .our-result {
    border: 3px solid black;
   /* height: 650px;*/
    background-image: url(./images/headphones_hero_2.jpg);
    background: cover;
    
   
 }
 .sec3-b {
    /*border: 1px solid red;*/
     height:auto;
     margin-top: 50px;
     display: flex;
     justify-content: space-around;
     text-align: center;
     padding: 20px;
     width: 90%;
     transform: translate(5%, 0);
     flex-wrap: wrap;
 }
 
 /*section4 contact form*/

 h2 {
    color: #333;
    margin-top: 20px;
    font-size:x-large;
    font-family: 800;
 }

 form {
    border: 1px solid black;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    

 }

 label {
    display: inline-block;
    margin-bottom: 10px;
 }

 input[type="text"],
 input[type="email"],
 textarea {
    width:100%;
    padding: 10px;
    margin-top: 15px;
 }
 textarea {
    resize: vertical;
 }
 input[type="submit"] {
    background: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
 }

input[type="submit"]:hover {
    opacity: 0.7;
}

input[type="submit"]:focus {
    outline: none;
}
.sec-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

/*footer*/

.footer-side {
    background-color: #071629;
    height: 249px;
}

.footer-items {
    list-style: none;
    padding: 13px;
}
.fot {
    display: flex;
}